@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border: none;
  text-transform:capitalize;
  transition: all .2s linear;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  background: #f7f7f7;
  font-family: 'Poppins', sans-serif;
}

*::selection{
  background: #2b3dda;
  color: #fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
.container { width: 80%; margin: auto; background-color: #f9f9f9; }
header { background-color: #0275d8; color: white; padding: 20px; text-align: center; }
.content { padding: 20px; }
h2 { color: #333; }
p, ul { color: #666; }
li { margin-bottom: 10px; }